<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceCoreSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceCoreSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44323/WebServiceCore.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceCoreSoap"
                contract="SR.WebServiceCoreSoap" name="WebServiceCoreSoap" />
        </client>
    </system.serviceModel>
</configuration>